* {
    font-family: Arial, Helvetica, sans-serif;
}
.image {
    width: 500px;
    height: 300px;
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    flex-wrap: wrap;
}
.img_sert_1 {
    background-image: url("../img/7.jpg");
    
}
.skills-parent {
    display: flex;
    flex-wrap: wrap; /* Элементы будут переноситься */
    gap: 30px;        /* Расстояние между элементами */
}
.img_sert_2 {
    background-image: url("../img/i (1).webp");
}
.img_sert_3 {
    background-image: url("../img/MO_sertifikat.jpg");
}
.icon1, .icon2, .icon3 {
    width: 35px;
    height: 35px;
    background-repeat: no-repeat;
    background-size: 100%;
}
.icon1 {
    background-image: url("../img/icon1.png");
}
.icon2 {
    background-image: url("../img/icon2.png");
}
.icon3 {
    background-image: url("../img/icon3.png");
}

.inline {
    display: flex;
}
body {
    background-color:navajowhite
}
h1 {
    font-size: 24px;
}
h2 {
    font-size: 20px;
}
h3 {
    font-size: 18px;
}
p, div {
    font-size: 16px;
}

.new1, .new2, .new3, .new4, .new5 , .new6 , .new7 {
    background-image: url("../img/ii.webp");
    width: 300px;
    height: 200px;
    background-repeat: no-repeat;
    background-size: 100%;
}
.gog {
    background-color: antiquewhite;
    
}
ul li {
    display: inline-block;
}
ul {
    background: url(../img/dif.gif);
   
    height: 100px;
}
li {
    padding: 30px;
}
.aaa{
    margin-top: 10px;
}
.rain, .bod,.ne1 ,.ne2 ,.ne3   {
    background-color: antiquewhite;
}

nav>a {
    color: white;
    text-decoration: none;
}
nav>a:visited {
    color: white;
    text-decoration: none;
}
nav>ul>li>a {
    color: white;
    text-decoration: none;
}

.content {
    display: flex;
}
.skills-parent {
    display:  flex;
    gap: 30px;
}
.img15 {
    background-image: url(../pages/works/pr1/img/eli.jpg);
    width: 400px;
    height: 450px;
    background-repeat: no-repeat;
    background-size: cover;
}
div img {
    width: 300px;
    height: auto;
    max-width: 300px; 
    border-radius: 5px; /* Закругление углов */
}
