/* Стили для кнопки */
button {
  padding: 1rem 2rem; /* Поля вокруг текста */
  background: #00a7cf; /* Цвет фона */
  color: #fff; /* Цвет текста */
  border: none; /* Убираем границу */
  transition: transform 1s; /* Плавный переход при изменении масштаба */
}

/* Стили при наведении */
button:hover {
  transform: scale(2); /* Увеличиваем масштаб в два раза */
}
body{
  margin: o auto;
}
.box {
  width: 100px;
  height: 100px;
  background-color: lightblue;
  animation: moveBox 3s ease-in-out forwards;
}

@keyframes moveBox {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(250px);
  }
}
div {
  width: 5%;
  margin: 0 auto;
}